*
  box-sizing: border-box

body
  font-size: 16px
  color: #ffffff
  background-color: #941DCD
  .file
    cursor: pointer
    display: block
    margin: 2rem 0
    input
      display: none
  .dropzone
    border: 3px dashed #ffffff
    padding: 2rem
    margin: 2rem 0